*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    image-resolution: 42dpi;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color:black;
}
div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    grid-column-gap: 20px;
}
div img{
    width: 100%;
}